# Database
DATABASE_URL="postgresql://user:password@localhost:5432/tasquita"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-min-32-chars-change-this"

# Para generar NEXTAUTH_SECRET, ejecuta en tu terminal:
# openssl rand -base64 32
